@font-face {
  font-family: "iconfont"; /* Project id 2332430 */
  src: url('iconfont.woff2?t=1620536045339') format('woff2'),
       url('iconfont.woff?t=1620536045339') format('woff'),
       url('iconfont.ttf?t=1620536045339') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shuoming:before {
  content: "\e835";
}

.icon-xiangqing:before {
  content: "\e610";
}

.icon-login:before {
  content: "\e61d";
}

.icon-tiaoxingma:before {
  content: "\e628";
}

.icon-jia:before {
  content: "\e690";
}

.icon-bianji:before {
  content: "\e63b";
}

.icon-shanchu:before {
  content: "\e614";
}

.icon-caidan1:before {
  content: "\e601";
}

.icon-shouyex:before {
  content: "\e615";
}

.icon-yonghu:before {
  content: "\e663";
}

.icon-weixiu:before {
  content: "\e635";
}

.icon-guanli:before {
  content: "\e6fd";
}

.icon-baoyang:before {
  content: "\e60b";
}

.icon-shujufenxi:before {
  content: "\e600";
}

